section{
height: 100vh;
width: 1000px;
background-color:#FAA307;
display:flex;
flex-wrap: wrap;
justify-content: center;
}

.first{
    width: 273px;
    height: 220px;
    background-color: #03071E;
    margin: 20px;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.second{
    width: 273px;
    height: 220px;
    background-color: red;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.third{
    width: 273px;
    height: 220px;
    background-color: #03071E;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.fourth{
    width: 273px;
    height: 220px;
    background-color: red;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.fifth{
    width: 273px;
    height: 220px;
    background-color: #03071E;
    margin: 20px;
    display: flex;
    flex-wrap: wrap
}
.circle {
    width: 50px;
    height: 50px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 20px;
}